<div class="container">
  <div class="row">
    <div class="col-4">
      <h3>Nivel de esfuerzo para cada plan</h3>
      <canvas baseChart
      [datasets]="polarAreaChartDatasets"
      [labels]="polarAreaChartLabels"
      [legend]="polarAreaLegend"
      [options]="polarAreaOptions"
      [type]="'polarArea'">
      </canvas>
    </div>
    <div class="col-6">
      <h3>Planes de entrenamiento recomendados</h3>
      <mat-expansion-panel *ngFor="let p of gruposPlanes">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>{{p.name}}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        {{p.description}}
      </mat-expansion-panel>
      <h3>Información del perfil deportivo</h3>
      <ul>
        <li *ngFor="let l of infoPerfil">{{l}}</li>
      </ul>
    </div>
    <div class="col-2">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <img class="profile-picture" src="https://images.vexels.com/media/users/3/141261/isolated/lists/ab412bbd60db835095b0088420a85972-deportista-trotar.png">
          </div>
          <div class="col-6">
            <p>Edad</p>
          </div>
          <div class="col-6">
            <p>Estatura</p>
          </div>
          <div class="col-6">
            <p>Peso</p>
          </div>
          <div class="col-6">
            <p>IMC</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>