<div class="container text-center">
  <div class="row">
    <div class="col text-left">
      <h2>Planes sugeridos</h2>
      <p>
        De acuerdo con la información suministrada, recomendamos los siguientes
        planes para usted
      </p>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <h3>Plan gratuito</h3>
      <button type="button" class="btn btn-primary">Suscrito</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae iaculis elit. Aliquam maximus mattis tellus ut aliquam. Etiam a lectus eget dui fermentum aliquam. Sed sit amet risus justo. Integer ac pulvinar turpis, a rutrum dui. Nullam pellentesque odio et maximus eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi et iaculis turpis. </p>
    </div>
    <div class="col">
      <h3>Plan intermedio</h3>
      <button type="button" class="btn btn-secondary">Suscribirme</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae iaculis elit. Aliquam maximus mattis tellus ut aliquam. Etiam a lectus eget dui fermentum aliquam. Sed sit amet risus justo. Integer ac pulvinar turpis, a rutrum dui. Nullam pellentesque odio et maximus eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi et iaculis turpis. </p>
    </div>
    <div class="col">
      <h3>Plan premium</h3>
      <button type="button" class="btn btn-secondary">Suscribirme</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae iaculis elit. Aliquam maximus mattis tellus ut aliquam. Etiam a lectus eget dui fermentum aliquam. Sed sit amet risus justo. Integer ac pulvinar turpis, a rutrum dui. Nullam pellentesque odio et maximus eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi et iaculis turpis. </p>
    </div>
  </div>
</div>
